La informacion contenida en este sistema pertenece al grupo
Banco Sabadell y esta reservada unicamente a las personas que
disponen de acceso autorizado. Su acceso y acciones pueden ser
monitorizados por los organos de control del grupo Banco Sabadell,
con el unico objetivo de comprobar el cumplimiento de la
normativa interna y legislacion aplicable en todo momento.
