sssd]
config_file_version = 2
services = nss, pam
domains = adgbs.com

[nss]
memcache_timeout = 10

[pam]
[domain/adgbs.com]
entry_cache_timeout = 60
id_provider = ad
auth_provider = ad
access_provider = ad
chpass_provider = ad
ignore_group_members = True


ad_server = {% for item in KDC %}{{ item.name + "." + DOMAIN }}{% if not loop.last %},{% endif %}{% endfor %}

ad_hostname = {{ansible_nodename}}.{{DOMAIN}}
ad_domain = {{DOMAIN}}

ldap_id_mapping = True
ldap_schema = ad
ldap_idmap_range_size = 50000000

ldap_use_tokengroups = false
ldap_group_nesting_level = 50

override_homedir = /home/%u
override_shell = /bin/bash
