[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log
[libdefaults]
 default_realm = {{DOMAINUP}}
 dns_lookup_realm = false
 dns_lookup_kdc = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 default_tgs_enctypes = rc4-hmac aes256-cts-hmac-sha1-96
 default_tkt_enctypes = rc4-hmac aes256-cts-hmac-sha1-96
 permitted_enctypes = rc4-hmac aes256-cts-hmac-sha1-96

[realms]
 {{DOMAINUP}} = {
 {% for item in KDC %}
 kdc = {{item.name}}.{{DOMAIN}}
 {% endfor %}
 admin_server = {{KDCMASTER}}.{{DOMAIN}}
 }
[domain_realm]
 .{{DOMAIN}} = {{DOMAINUP}}
  {{DOMAIN}} = {{DOMAINUP}}
