[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log
[libdefaults]
 default_realm = ADGBS.COM
 dns_lookup_realm = false
 dns_lookup_kdc = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
[realms]
 ADGBS.COM = {
 {% for item in KDC %}

  kdc = {{item.name}}.{{DOMAIN}}
  kdc = {{item.name}}.{{DOMAIN}}
  kdc = {{item.name}}.{{DOMAIN}}
  kdc = {{item.name}}.{{DOMAIN}}
 {% endfor %}
 admin_server = lavion.adgbs.com
 }
[domain_realm]
 .adgbs.com = ADGBS.COM
 adgbs.com = ADGBS.COM
 TTTT
