  config_file_version = 2
	services = nss, pam
	domains = default
	debug_level=9
  ttt
	[nss]

	[pam]
	[domain/default]
	id_provider = ad
	auth_provider = ad
	access_provider = ad
	chpass_provider = ad


  {% set servers = "" %}
  {% for item in KDC %}

  {% servers %} = {% servers %} + {{item.name}} + "." + {{DOMAIN}} + {% "" if loop.last else "," %} 
  {% endfor %}

ad_server =

	ad_hostname = {{ansible_nodename}}.{{DOMAIN}}
	ad_domain = {{DOMAIN}}

	override_homedir = /home/%u
	override_shell = /bin/bash
