  config_file_version = 2
	services = nss, pam
	domains = default
	debug_level=9

	[nss]

	[pam]
	[domain/default]
	id_provider = ad
	auth_provider = ad
	access_provider = ad
	chpass_provider = ad

	ad_server = lavion.adgbs.com,tasarau.adgbs.com,luminor.adgbs.com,yumi.adgbs.com
	ad_hostname = {{ansible_nodename}}.adgbs.com
	ad_domain = adgbs.com

	override_homedir = /home/%u
	override_shell = /bin/bash
