  config_file_version = 2
	services = nss, pam
	domains = default
	debug_level=9
  ttt
	[nss]

	[pam]
	[domain/default]
	id_provider = ad
	auth_provider = ad
	access_provider = ad
	chpass_provider = ad

	ad_server = 
  {% for item in KDC %}

  {{item.name}}.{{DOMAIN}},

  {% endfor %}

	ad_hostname = {{ansible_nodename}}.{{DOMAIN}}
	ad_domain = adgbs.com

	override_homedir = /home/%u
	override_shell = /bin/bash
